$Soft-red: hsl(10, 79%, 65%);
$Cyan: hsl(186, 34%, 60%);
$Dark-brown: hsl(25, 47%, 15%);
$Medium-brown: hsl(28, 10%, 53%);
$Very-pale-orange: hsl(27, 66%, 92%);
$Cream: hsl(33, 100%, 98%);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: $Very-pale-orange;
  display: flex;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  justify-content: center;
  min-height: 100vh;
}

main {
  .header,
  .container {
    background-color: $Soft-red;
    border-radius: 15px;
    color: $Cream;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    padding: 1.5em;

    .header__balance {
      display: flex;
      flex-direction: column;

      .header__balance--amount {
        font-size: 1.4em;
        font-weight: 700;
        margin-top: 0.25em;
      }
    }

    img {
      width: 3.5em;
    }

    span {
      font-size: 0.75em;
    }
  }

  .container {
    background-color: $Cream;
    color: $Dark-brown;
    flex-direction: column;
    padding: 2em;

    .title {
      font-size: 1.5em;
      font-weight: 700;
    }

    .chart {
      display: flex;
      height: 11em;
      justify-content: space-between;
      margin-bottom: 1.5em;

      .chart__data {
        align-items: center;
        color: $Medium-brown;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-right: 0.9em;

        &:last-child {
          margin-right: 0;
        }

        .chart__data--bar {
          background-color: $Soft-red;
          border-radius: 4px;
          display: inline-block;
          position: relative;
          width: 42px;
        }

        .chart__data--bar:hover {
          cursor: pointer;
          filter: brightness(130%);
        }

        .chart__data--bar .chart__data--tooltip {
          background-color: $Dark-brown;
          border-radius: 4px;
          bottom: 100%;
          color: $Cream;
          left: 50%;
          margin-bottom: 0.5em;
          margin-left: -30px;
          padding: 0.5em 0.3em;
          position: absolute;
          text-align: center;
          visibility: hidden;
          width: 60px;
          z-index: 1;
        }

        .chart__data--bar:hover .chart__data--tooltip {
          visibility: visible;
        }

        .chart__data--day {
          margin-top: 0.5em;
        }

        .chart__data--today {
          background-color: $Cyan;
        }
      }
    }

    hr {
      background-color: $Very-pale-orange;
      border: none;
      height: 2px;
    }

    .total {
      color: $Medium-brown;
      display: flex;
      justify-content: space-between;
      margin-top: 1.5em;

      .total__thismonth,
      .total__lastmonth {
        display: flex;
        flex-direction: column;

        span {
          font-size: 0.85em;
        }

        .bold {
          color: $Dark-brown;
          font-weight: 700;
        }

        .total-spent {
          font-size: 2.25em;
        }
      }
      .total__lastmonth {
        align-items: flex-end;
        align-self: flex-end;
      }
    }
  }
}
